@charset "utf-8";
body{
	background-color: #E1E0E0;
}
.title_style  {
    margin-left: 20px;
    padding: 5px;
    color: #564F40;
    background: #CCCCCC;
    text-align: center;
}
.main_style  {
    margin-left: 20px;
	magin-top:10px;
    color: #8F8F8F;
    border: 1px solid #979797;
    text-align: center;
}
