@charset "utf-8";
body{
	background-color: #E1E0E0;
}

.title_style  {
    margin-left: 20px;
    padding: 5px;
    color: #564F40;
    background: #CCCCCC;
    text-align: center;
}
#Caption img {
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 20px 10px 10px 5px #D23538;
    box-shadow: 20px 10px 10px 5px;
    border-radius: 10px;
}
#Maincontain img{
width: 50%;
height: 50%;
}
.main_style  {
    margin-left: 20px;
	magin-top:10px;
    color: #8F8F8F;
    border: 1px solid #979797;
    text-align: center;
}
