body {
    color: #535A68;
    border-left: 5px solid #4F5386;
    margin-left: 20px;
    padding-left: 10px;
    background-color: #E1DEDE;
    font-family: "標楷體";
}
body p {
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}
body h1 {
    font-style: italic;
    font-size: 30px;
}
