@charset "utf-8";
body {
    background-color: #F8F8F8;
}
.Home{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
}
.Home img{
	min-height: 100%;
	width: 100%;
 	max-width: 100%;
	height: auto;
}
.Page{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
	position: relative;
}
.Page img{
	position: relative;
	min-height: 100%;
	width: 100%;
 	max-width: 100%;
	height: auto;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card{
	position: absolute;
	top:300px;
	left: 20px;
}
.card-body h5{
	text-align: center; 
	color: #AB8FC5; 
	font-family: "alex-brush";
	font-size: 24px;
}
.btn-outline-primary{
	color: #5F5976;
	font-family: "alex-brush";
	border-color: #9F87A9;
	border-width: 3px;
	bordor-radius:8px;
}
